//! container 3
@use 'mixin' as m;

.container3 {
    background-color: rgb(8, 252, 240);
    width: 100%;
    opacity: 0.8;
    text-align: center;

    ul {
        padding: 20px;

        li {
            background-color: salmon;
            padding: 5px;
            border-radius: 10px;
            margin: 10px;
            opacity: 0.7;
            @include m.container();

            a {
                text-decoration: none;
                color: rgb(250, 247, 247);
            }
        }
    }
}